<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- <add name="Db" connectionString="Data Source=localhost;Initial Catalog=Db;Integrated Security=True"
    providerName="System.Data.SqlClient" /> -->
    <add name="Db" connectionString="Data Source=localhost,1433;Initial Catalog=UntidarDb;User ID=sa; Password=pas" />
    <!--<add name="MainDb" connectionString="Data Source=localhost;Persist Security Info=True;Integrated Security=SSPI;Initial Catalog=UntidarDB" />-->
      
  </connectionStrings>
  <!-- Tambahan I-->
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <system.web>
   <sessionState mode="InProc" timeout="15" />
   <!-- <sessionState mode="StateServer" stateConnectionString="tcpip=192.168.1.99:42424" timeout="15" />  -->
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--<trace enabled="true"/>-->
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
    <pages viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!-- IIS Default Upload set to 4 Mb -->
    <httpRuntime maxRequestLength="4096" executionTimeout="999999" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- set to false to disable -->
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="keu-login.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <!-- Using CombineCriptsHandler as name of handler -->
      <add name="CombineScriptsHandler" verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler,AjaxControlToolkit" />
    </handlers>
    <rewrite>
          <rules>
              <rule name="Hide .aspx ext">
                  <match url="^(.*)$" ignoreCase="true" />
                  <conditions>
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                      <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
                  </conditions>
                  <action type="Rewrite" url="{R:0}.aspx" />
              </rule>
              <rule name="Redirecting .aspx ext" stopProcessing="true">
                  <match url="^(.*).aspx$" />
                  <conditions logicalGrouping="MatchAny">
                      <add input="{URL}" pattern="(.*).aspx$" />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
              </rule>
          </rules>
      </rewrite>  
  </system.webServer>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>